*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
}
a{
    text-decoration:none;
}


.head{
    width:7.5rem;
    height:3rem;
    background:#f45656;
    margin-bottom:0;
    position:fixed;
    top:0;
    left:0;
}
.container{
    width:7.04rem;
    height:100%;
    margin-left:0.24rem;

}
.head .icon{
    width:100%;
    height:0.74rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.head .icon .left{
    width:0.22rem;
    height:0.42rem;
}
.head .icon .right{
    width:0.69rem;
    height:0.42rem;

}
.head .content{
    width:7.04rem;
    height:2.26rem;
}
.head .content .left{
    width:1.58rem;
    height:1.58rem;
    margin:0.3rem;
    margin-right:0.4rem;
    float:left;
}
.head .content .right{
    width:3.58rem;
    height:1.58rem;
    margin-bottom: 0.3rem;
    margin-top:0.3rem;
    float:left;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.head .content .right p{
    font-size:0.3rem;
    color:#fff;
    font-weight:bold;
}
.head .content .right img{
    width:2.74rem;
    height:0.08rem;
    display:block;
}
.head .content .right div{
    width:3.18rem;
    height:0.36rem;
    font-size:0.24rem;
    color:#fff;
}
.head .content .right div img{
    width:0.28rem;
    height:0.34rem;
    float:left;
}
.head .content .right .next{
    width:1.70rem;
    height:0.18rem;
    font-size:0.18rem
}
.head .content .right .next img{
    width:0.18rem;
    height:0.18rem;
}
.head .content .right .bottom{
    font-size:0.18rem
}
.prompt{
    display:block;
    width:7.5rem;
    height:0.44rem;
    margin-top:0;
    position:fixed;
    top:3rem;
    left:0;
}
.nav{
    width:7.5rem;
    height:0.7rem;
    background:#fff;
    border-bottom:0.01rem solid #f7c6c4;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    position:fixed;
    top:3.44rem;
    left:0;

 }
.nav a{
    font-size:0.3rem;
    color:#8a8988;
}
.nav a:nth-child(1){
    font-size:0.3rem;
    color:#585756;
    font-weight:bold;
}
.nav img{
    width:0.58rem;
    height:0.05rem;
    position:absolute;
    bottom:-0.025rem;
    left:0.97rem;
}
.variety{
    width:1.8rem;
    height:7.78rem;
    overflow:scroll;
    position: fixed;
    top:4.14rem;
    left:0;
}
.variety .box{
    width:1.8rem;
    height:0.9rem;
    background:#eeeeee;
    font-size:0.3rem;
    color:#b0b0b0;
    font-weight:bold;
    text-align:center;
    line-height:0.9rem;
}
.variety .box:nth-child(2){
    background:#f45656;
    color:#fff;
}
.commodity{
    width:5.7rem;
    height:9rem;
    float:right;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    margin-top:4.14rem;
    margin-bottom:1.22rem;
}
.commodity .box{
    width:5.2rem;
    height:2rem;
    box-shadow: 0 0 0.3rem rgba(0,0,0,0.1);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.commodity .box img{
    width:1.58rem;
    height:1.47rem;
}
.commodity .box .right{
    width:2.93rem;
    height:1.47rem;
    display:flex;
    flex-direction:column;
    justify-content:space-around;

}
.commodity .box .right div:nth-child(1){
    width: 2.93rem;
    height: 0.42rem;
    font-size:0.26rem;
    color:#767676;
    line-height: 0.15rem;
}
.commodity .box .right div:nth-child(1) .right{
    width: 0.4rem;
    height: 0.4rem;
    float:right;
}
.commodity .box .right div:nth-child(1) .dot{
    width: 1.42rem;
    height: 0.08rem;
}
.commodity .box .right .star{
    width:0.9rem;
    height:0.18rem;
    display:block;
}
.commodity .box .right div:nth-child(3){
    width: 2.06rem;
    height: 0.18rem;
    font-size:0.18rem;
    color:#585858;
}
.commodity .box .right div:nth-child(3) img{
    width: 0.1rem;
    height: 0.1rem;
}
.commodity .box .right p{
    color:#f45656;
    font-size:0.24rem;
}
.foot{
    width: 7.5rem;
    height: 1.22rem;
    background-image:url("../img/foot1.png");
    background-size:7.5rem 1.22rem;
    position:fixed;
    bottom:0;
    left:0;
}
.foot .left{
    width: 2.86rem;
    height: 1.02rem;
    font-size:0.22rem;
    line-height: 1.02rem;
    color:#4f4f4f;
    margin-top:0.12rem;
    margin-left:0.54rem;
    float:left;
}
.foot .left img{
    width: 1.02rem;
    height: 1.02rem;
    display:block;
    float:left;
}
.foot p{
    font-size:0.22rem;
    color:#4f4f4f;
    line-height: 1.22rem;
    float:right;
    margin-right:0.54rem;
    font-weight: bold;
}