*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
/*大屏*/
header{
    width:100%;
    height:44px;
    background:rgba(0,0,0,0.8);
    padding:0 168px;
    position:fixed;
    top:0;
    left:0;
    z-index: 2;
}
header ul{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
}
header ul li a{
    color:#fff;
    font-size: 14px;
    line-height: 44px;

}
header ul li a:hover{
    color: #b5b5b5;
    text-decoration: none;
}
header ul .text.list{
    display:none;
}
.banner{
    display:block;
    width:100%;
    height:580px;
    background:#fafafa url(" ../img/iphone_x_large.jpg") no-repeat center 80%/980px 210px;
    margin-top:44px;
    position:relative;
    overflow:hidden;
}
.banner.banner_2{
    margin-top:16px;
    background:#f9f0eb url(" ../img/iphone_8_large.jpg") no-repeat center bottom/542px 380px;
}
.banner.banner_2 h1{
    top:5%;
}
.banner.banner_2 h3{
    top:17.6%;
}
.banner.banner_2 .box{
    top:26%;
}
.banner.banner_3{
    margin-top:16px;
    background:#f5f5f5 url(" ../img/ipad_large.jpg") no-repeat center bottom/1060px 386px;
    padding-bottom:0;
}
.banner.banner_3 h1{
     top:5%;
 }
.banner.banner_3 h3{
    top:17.6%;
}
.banner.banner_3 .box{
    top:26%;
}

.banner h1{
    font-size:40px;
    color:#333;
    position:absolute;
    top:15%;
    right:0;
    left:0;
    margin:0 auto;
    text-align: center;
}
.banner h3{
    font-size:21px;
    color:#333;
    position:absolute;
    top:27.6%;
    right:0;
    left:0;
    margin:0 auto;
    text-align: center;
}
.banner .box{
    width:200px;
    height:30px;
    font-size: 18px;
    position:absolute;
    top:36%;
    right:0;
    left:0;
    margin:0 auto;
    text-align: center;
}
.banner .box a{
    color:#0070c9;
}
.bigBox{
    width:100%;
    border-top:12px solid #fff;
    border-right:12px solid #fff;
    display:flex;
    flex-wrap:wrap;
}
.bigBox li{
    width:50%;
    height:593px;
    border-bottom:12px solid #fff;
    border-left:12px solid #fff;
    position: relative;
}
.bigBox li:nth-child(1){
    background:#eee url("../img/watch_series_3_large.jpg") no-repeat center bottom/448px 396px;
}
.bigBox li:nth-child(1) img{
    width:128px;
    height:47px;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:42px;
}
.bigBox li:nth-child(1) h3{
    font-size: 18px;
    color:#333;
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:103px;
    font-weight:normal;
}
.bigBox li:nth-child(1) h4{
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:142px;
    font-weight:normal;
}
.bigBox li:nth-child(1) h4 a{
    color:#0070c9;
    font-size: 14px;
}
.bigBox li:nth-child(2){
    background:url("../img/how_to_shoot_large.jpg") no-repeat center bottom/auto 100%;
}
.bigBox li:nth-child(2) h2{
    font-size: 32px;
    color:#fff;
    text-align: center;
    position: absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:60px;
}
.bigBox li:nth-child(2) h3{
    font-size: 18px;
    color:#fff;
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:103px;
    font-weight:normal;
}
.bigBox li:nth-child(3){
    background:url("../img/music_three_months_large.jpg") no-repeat center bottom/auto 100%;
}
.bigBox li:nth-child(3) img{
    width:128px;
    height:32px;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:58px;
}
.bigBox li:nth-child(3) h3{
    font-size: 18px;
    color:#fff;
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:103px;
    font-weight:normal;
}
.bigBox li:nth-child(4){
    background:url("../img/behind_the_mac_large.jpg") no-repeat center bottom/auto 100%;
}
.bigBox li:nth-child(4) h3{
    font-size: 32px;
    color:#fff;
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:58px;
    font-weight:normal;
}
.bigBox li:nth-child(4) h4{
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:103px;
    font-weight:normal;
}
.bigBox li:nth-child(4) h4 a{
    color:#fff;
    font-size: 14px;
}
.bigBox li:nth-child(5){
    background:#fafafa url("../img/airpods_large.jpg") no-repeat center bottom/386px 308px;
}
.bigBox li:nth-child(5) h2{
    font-size: 32px;
    color:#333;
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:60px;
}
.bigBox li:nth-child(5) h3{
    font-size: 18px;
    color:#333;
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:103px;
    font-weight:normal;
}
.bigBox li:nth-child(5) h4{
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:142px;
    font-weight:normal;
}
.bigBox li:nth-child(5) h4 a{
    color:#0070c9;
    font-size: 14px;
}
.bigBox li:nth-child(6){
    background:#fafafa url("../img/homepod_large.jpg") no-repeat center bottom/362px 396px;
}
.bigBox li:nth-child(6) h2{
    font-size: 32px;
    color:#333;
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:60px;
}
.bigBox li:nth-child(6) h3{
    font-size: 18px;
    color:#333;
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:103px;
    font-weight:normal;
}
.bigBox li:nth-child(6) h4{
    text-align: center;
    position:absolute;
    right:0;
    left:0;
    margin:0 auto;
    top:142px;
    font-weight:normal;
}
.bigBox li:nth-child(6) h4 a{
    color:#0070c9;
    font-size: 14px;
}
footer{
    width:100%;
    height:429px;
    background:#f2f2f2;
    padding:46px 168px 15px;
}
footer .foot_1{
    width:100%;
    overflow:auto;
}
footer .foot_1 dl{
    width:20%;
    float:left;
}
footer .foot_1 dl dt{
    font-size:11px;
    color:#333;
    font-weight: bold;
    margin-bottom:3px;
}
footer .foot_1 dl dt span{
    font-size:11px;
    color:#333;
    font-weight: bold;
    float:right;
    display:none;
}
footer .foot_1 dl dd{
    margin-bottom:2px;
}
footer .foot_1 dl dd a{
    font-size:8px;
    color:#555;
}
footer .foot_2{
    width: 100%;
    height:32px;
    color:#888;
    font-size:8px;
    line-height: 32px;
    border-bottom:1px solid #d6d6d6;
    margin-top:10px;
}
footer .foot_2 a{
    color:#0070c9;
    font-size:8px;
}
footer .foot_3 .left{
    height:36px;
    line-height: 36px;
    float:left;
}
footer .foot_3 .left span{
    color:#888;
    font-size:8px;
    line-height: 32px;
}
footer .foot_3 .left p{
    margin-left:20px;
    display:inline;
}
footer .foot_3 .left p a{
    font-size:8px;
    line-height: 32px;
    color:#555;
}
footer .foot_3 .right{
    width:82px;
    height:32px;
    float:right;
    text-align: right;
    position:relative;
}
footer .foot_3 .right img{
    position:absolute;
    top:8px;
    left:0;
}
footer .foot_3 .right a{
    font-size:8px;
    line-height: 32px;
    color:#555;

}
/*中屏*/
@media screen and (max-width:846px){
    header{
        padding:0 15px;
    }
    .banner{
        background:#fafafa url(" ../img/iphone_x_medium.jpg") no-repeat center 80%/704px 148px;
    }
    .banner.banner_2{
        background:#f9f0eb url(" ../img/iphone_8_medium.jpg") no-repeat center bottom/526px 375px;
    }
    .banner.banner_3{
        background:#f5f5f5 url(" ../img/ipad_medium.jpg") no-repeat center bottom/750px 360px;
    }
    .bigBox li{
        height:490px;
    }
    .bigBox li:nth-child(1){
        background:#eee url("../img/watch_series_3_medium.jpg") no-repeat center bottom/100% 330px;
    }
    .bigBox li:nth-child(1) img{
        width:106px;
        height:40px;
    }
    .bigBox li:nth-child(1) h3{
        top:84px;
    }
    .bigBox li:nth-child(1) h4{
        top:118px;
    }
    .bigBox li:nth-child(2){
        background:url("../img/how_to_shoot_medium.jpg") no-repeat center bottom/auto 100%;
    }
    .bigBox li:nth-child(2) h2{
        width:186px;
        font-size: 24px;
        top:48px;
    }
    .bigBox li:nth-child(2) h3{
        width:200px;
        font-size:16px;
        top:120px;
    }
    .bigBox li:nth-child(3){
        background:url("../img/music_three_months_medium.jpg") no-repeat center bottom/auto 100%;
    }
    .bigBox li:nth-child(3) img{
        width:106px;
        height:26px;
        top:48px;
    }
    .bigBox li:nth-child(3) h3{
        font-size:16px;
        top:88px;
    }
    .bigBox li:nth-child(4){
        background:url("../img/behind_the_mac_medium.jpg") no-repeat center bottom/auto 100%;
    }
    .bigBox li:nth-child(4) h3{
        font-size: 24px;
        top:48px;
    }
    .bigBox li:nth-child(4) h4{
        font-size:12px;
        top:90px;
    }
    .bigBox li:nth-child(5){
        background:#fafafa url("../img/airpods_medium.jpg") no-repeat center 194px/270px 210px;
    }
    .bigBox li:nth-child(5) h2{
        font-size:24px;
        top:50px;
    }
    .bigBox li:nth-child(5) h3{
        top:86px;
    }
    .bigBox li:nth-child(5) h4{
        top:124px;
    }
    .bigBox li:nth-child(6){
        background:#fafafa url("../img/homepod_medium.jpg") no-repeat center bottom/300px 330px;
    }
    .bigBox li:nth-child(6) h2{
        font-size:24px;
        top:50px;
    }
    .bigBox li:nth-child(6) h3{
        top:86px;
    }
    .bigBox li:nth-child(6) h4{
        top:124px;
    }
    footer{
        padding:46px 15px 15px;
    }
    footer .foot_3 .left p{
        display:block;
        margin-left:0;
        margin-top:-15px;
        height:32px;
    }
}
/*小屏*/
@media screen and (max-width:750px) {
    header ul .text.list {
        display: block;
    }

    header ul .text {
        display: none;
    }

    .banner.banner_1 {
        background: #fafafa url(" ../img/iphone_x_small.jpg") no-repeat center 95%/154px 308px;
    }

    .banner.banner_2 {
        background: #f9f0eb url(" ../img/iphone_8_small.jpg") no-repeat center bottom/348px 500px;
    }

    .banner.banner_3 {
        background: #f5f5f5 url(" ../img/ipad_small.jpg") no-repeat center bottom/264px 345px;
    }

    .bigBox {
        border: 0;
    }

    .bigBox li {
        width: 100%;
        height: 500px;
        border-top: 12px solid #fff;
        border-left: 0;
        border-bottom: 0;
    }

    .bigBox li:nth-child(1) {
        background: #eee url("../img/watch_series_3_small.jpg") no-repeat center bottom/318px 348px;
    }

    .bigBox li:nth-child(1) img {
        width: 106px;
        height: 40px;
        top: 32px;
    }

    .bigBox li:nth-child(1) h3 {
        top: 80px;
    }

    .bigBox li:nth-child(1) h4 {
        top: 118px;
    }

    .bigBox li:nth-child(2) {
        background: url("../img/how_to_shoot_small.jpg") no-repeat center bottom/auto 100%;
    }

    .bigBox li:nth-child(2) h2 {
        width: 190px;
        font-size: 24px;
        top: 42px;
    }

    .bigBox li:nth-child(2) h3 {
        width: 200px;
        font-size: 16px;
        top: 120px;
    }

    .bigBox li:nth-child(3) {
        background: url("../img/music_three_months_small.jpg") no-repeat center bottom/auto 100%;
    }

    .bigBox li:nth-child(3) img {
        width: 104px;
        height: 26px;
        top: 42px;
    }

    .bigBox li:nth-child(3) h3 {
        width: 170px;
        font-size: 16px;
        top: 82px;
    }

    .bigBox li:nth-child(4) {
        background: url("../img/behind_the_mac_small.jpg") no-repeat center bottom/auto 100%;
    }

    .bigBox li:nth-child(4) h3 {
        font-size: 24px;
        top: 48px;
    }

    .bigBox li:nth-child(4) h4 {
        width: 160px;
        font-size: 12px;
        top: 86px;
    }

    .bigBox li:nth-child(5) {
        background: #fafafa url("../img/airpods_small.jpg") no-repeat center 190px/245px 196px;
    }

    .bigBox li:nth-child(5) h2 {
        font-size: 24px;
        top: 44px;
    }

    .bigBox li:nth-child(5) h3 {
        font-size: 14px;
        top: 82px;
    }

    .bigBox li:nth-child(5) h4 {
        font-size: 12px;
        top: 118px;
    }

    .bigBox li:nth-child(6) {
        background: #fafafa url("../img/homepod_small.jpg") no-repeat center bottom/312px 345px;
    }

    .bigBox li:nth-child(6) h2 {
        font-size: 24px;
        top: 44px;
    }

    .bigBox li:nth-child(6) h3 {
        font-size: 14px;
        top: 82px;
    }

    .bigBox li:nth-child(6) h4 {
        font-size: 12px;
        top: 118px;
    }
    footer .foot_1 dl{
        width:100%;
    }
    footer .foot_1 dl dt{
        display:block;
        width:100%;
        height:36px;
        line-height: 36px;
        border-bottom:1px solid #d6d6d6;
        cursor:pointer;
    }
    footer .foot_1 dl .lastOne{
        border:none;
    }
    footer .foot_1 dl dd{
        display:none;
    }
    footer .foot_1 dl dt span{
        display:inline;
    }
    footer .foot_2{
        border:none;
    }
    footer .foot_3{
        display:flex;
        flex-direction:column-reverse;
    }
}
