*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
    font-family:"苹方","微软雅黑",mecrosoft;
}
a{
    text-decoration:none;
}
body{
    background:#f8f6f3;
}
.page{
	width:100%;
	display:flex;
	
}
.big_one img{
	width:5.43rem;
	height:1.3rem;
	margin-top: 0;
}
.big_one .top{
    width: 6.02rem;
    height:3.16rem;
    margin:0.92rem 0.74rem 0;
}
.big_one .go{
	width: 2.216rem;
    height:0.844rem;
}
.big_one{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.line1,.line2,.line3{
	width:4.82rem;
	position: fixed;
	top:3.95rem;
	left:1.32rem;
}
.line2{
	position: fixed;
	top:5.15rem;
	left:1.32rem;
}
.line3{
	position: fixed;
	top:6.45rem;
	left:1.32rem;
}
.line4{
	width:2.54rem;
	position: fixed;
	top:7.78rem;
	left:1.32rem;
	z-index: 2;
}
.box4{
	width:0.59rem;
	position: fixed;
	top:8.7rem;
	left: 1.1rem;
}
.name{
	width:0.83rem;
	position: fixed;
	bottom: 2rem;
	right: 0.74rem;
}
.read{
	width:2.8rem;
	position: fixed;
	bottom:0.5rem;
	left:2.24rem;
}
.text{
	display: inline;
	width:3.85rem;
	height: 0.45rem;
	padding-left: 0.05rem;
	position: fixed;
	top:4.5rem;
	right: 1.84rem;
	border:none;
	border-bottom: 0.01rem dotted #e3e3e3;
}
.ver{
	display: inline;
	width:3.85rem;
	height: 0.45rem;
	padding-left: 0.05rem;
	position: fixed;
	top:5.81rem;
	right: 1.84rem;
	border:none;
	border-bottom: 0.01rem dotted #e3e3e3;
}
.passward{
	display: inline;
	width:3.85rem;
	height: 0.45rem;
	padding-left: 0.05rem;
	position: fixed;
	top:7.1rem;
	right: 1.84rem;
	border:none;
	border-bottom: 0.01rem dotted #e3e3e3;
}
from .phone{
	width: 4.54rem;
	height: 0.4rem;
	position: fixed;
	top:4.5rem;
	right: 1.5rem;
	z-index: 0;
}
from .verification{
	width: 4.54rem;
	position: fixed;
	top:5.8rem;
	right: 1.5rem;
	z-index: 3;
}
from .pass{
	width: 4.54rem;
	height: 0.4rem;
	position: fixed;
	top:7.1rem;
	right: 1.5rem;
	z-index: 0;
}

